@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bill Split WebApp</h1>
</div>

<br />
<br />
<div align="center">
    <div style="        width: 400px;
        background: #F7FDFE;
        color: #3067AD;
        font-family: Comic Sans MS, cursive, sans-serif;">
        Splitwise: For Easy Transfers.

    </div>
</div>
<hr />
<div align="center">
    <div style="width: 400px;
        background: #F7FDFE;
        color: #408FF5;
        font-family: Comic Sans MS, cursive, sans-serif;">
        Billr: To Share Costs and Itemize in One.

    </div>
</div>
<hr />
<div align="center">
    <div style="        width: 400px;
        background: #F7FDFE;
        color: #3067AD;
        font-family: Comic Sans MS, cursive, sans-serif;">
        Divvy: To Snap and Split.

    </div>
</div>
<hr />
<div align="center">
    <div style="width: 400px;
        background: #F7FDFE;
        color: #408FF5;
        font-family: Comic Sans MS, cursive, sans-serif;">
        Venmo: To Remind Your Friends They Owe You.

    </div>
</div>
<hr />
<div align="center">
    <div style="        width: 400px;
        background: #F7FDFE;
        color: #3067AD;
        font-family: Comic Sans MS, cursive, sans-serif;">
        This BillSplit Webapp also works Like this.

    </div>
</div>
<hr />

        
       
<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Let's Track Your Bill </h5>
        <p class="card-text">You can Track your bill status and expense history with your friends.</p>
        <a href="#" class="btn btn-primary">Make Friends</a>
    </div>
    <div class="card-footer text-muted">
        Friends
    </div>
</div>